<footer class="site-footer">
This site has been visited <script type="text/javascript">
    var sc_project=11432656; 
    var sc_invisible=0; 
    var sc_security="c9c5c78b"; 
    var sc_text=2; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/11432656/0/c9c5c78b/0/"
    alt="Web Analytics"></a></div></noscript>
times.
</footer>
