<div class="captioned-img align{{include.align}}">
    <a href="{{ include.url }}">
    {% if include.width and include.height %}
    <img src="{{ include.url }}" height="{{ include.height }}" width="{{ include.width }}" style="border-radius: 70%;"/>
    {% else if include.width %}
    <img src="{{ include.url }}" width="{{ include.width }}" style="border-radius: 70%;"/>
    {% else if include.height %}
    <img src="{{ include.url }}" height="{{ include.height }}" />
    {% else %}
    <img src="{{ include.url }}" />
    {% endif %}</a>{% if include.caption %}{{ include.caption }}{% endif %}
</div>
